@media only screen and (max-width: 600px) {
    body {
        font-size: 10px; 
    }
    .headText {
        font-size: 18px;
    }
    #container {
        font-size: 16px;
        
    }
    .card-container {
        border: 5px solid white;
        align-items: center;
        display: flex; 
        flex-direction: column;
        width: fit-content;
        height: fit-content;
    }
    .user-action {
        font-size: 16px;
    }
    .detail {
        font-size: 16px;
        margin: 8px 20px 0px 20px;
        flex-direction: column;
        width: fit-content;
        background-color: transparent;
        box-shadow: none;
        margin: 10px;
    }
    .detail div {
        display: flex;
        flex-direction: column;
        margin: 0px;
    }
    .detail label {
        font-size: 16px;
        width: fit-content;
    }

    .card-app-container {
        border: 0.5px solid white;
        margin: 0px 30px 30px 30px;
        background-image: none;
        box-shadow: none;
    }
    .card-show-detail label{
        align-items: center;
        margin: 25px;
        padding: 15px; 
    }
    #back, #cancel, #except, #next {
        font-size: 14px;
        padding: 10px 15px;
    }
    .link-map {
        font-size: 16px;
        flex-direction: row;
        margin: auto;
    }
    #link-btn {
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
    }
    /* The style for inform page */
    .main-inform {
        font-size: 10px;
        padding: 0px;
        background-color: none;
    }
    #container-inform {
        font-size: 10px;
        border: none;
        margin: auto;
        padding: 0px;
    }

    .information {
        font-size: 10px;
        margin:auto;
        padding: 10px;
        border-radius: none;
    }
    #map {
        height: 400px;
        width: 100%;
    }
    #container-map {
        margin-left: auto;
        margin-right: auto;
        height: 100%;
        width: 70%;
        padding: none;
        display: flex;
        flex-direction: column;
    }
    
}
